<% unless @kiosks.blank? %>
  <h4>Kiosks near: <%= @destination.address %></h4>
<table class="table table-hover">
  <th>Station</th>
  <th>distance</th>
  <th>Address</th>
  <th>Open Docks</th>
  <th>Bikes</th>
  <% @kiosks.each do |kiosk| %>
    <tr class=<%= kiosk.status_to_css %>>
    <td><%= kiosk.name %></td>
    <td><%= distance_in_words(kiosk, @destination) %></td>
    <td><%= link_to kiosk.street, kiosk.to_gmap %></td>
    <td><%= kiosk.docks_available %></td>
    <td><%= kiosk.bikes_available %></td>
  </tr>
<% end %>
</table>
<% end %>
