<!DOCTYPE html>
<html>
<head>
<title>Bike Kiosk Finder</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="Center-Block Absolute-Center">

    <h1 class="text-center">Bike Kiosk Finder</h1>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>

    <%= yield %>
    <div class="kiosks">
      <%= render 'locations/kiosks' %>
    </div>

    <%= render 'shared/search_form' %>
    <% unless @locations.blank? %>
      <div class="locations">
      <h3 class="text-center">Recent locations</h3>
      <%= render @locations %>
    </div>
  <% end %>
  </div>
</div>
</body>
</html>
